#cv-template {
    margin: 50px auto;
    background-color: rgb(18, 17, 17)b2b;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    border: 5px solid rgb(10, 10, 10);
    display: none;
}

#cv-form{
    /* display: none; */
    padding-bottom: 5%;
}

.background {
    background-color: #007bff;
    /* Example background color for headers */
    color: #0e0e0e;
    /* Example text color for headers */
}

.myimg {
    width: 150px;
    /* Set your desired width */
    height: 150px;
    /* Set your desired height */
    border-radius: 50%;
}

.background {
    background-color: aqua;
}

#facebookLogo {
    margin: 20px;
    width: 30px;
    height: auto;
}

#logo {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    text-align: center;
}

#linkedinlogo {

    margin: 20px;
    width: 30px;
    height: auto;
}

#social {
    display: flex;
    align-items: center;
    justify-content: center;
}

#colorofButt {
    background-color: #3498db;
}

#form {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#sId {
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

}

#headId {
    background-color: #3498db;
    color: white;
    padding: 60px;
    text-align: center;
}

#mText {
    position: absolute;
    font-size: 24px;
    color: #0b0b0b;
    animation: moveText 14s linear infinite;
}

@keyframes moveText {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }

}